.footer {
    background-color: brown;
    color: white;
    padding: 50px;
    font-size: 5em;
}

.card {
    background-color: dodgerblue;
    color: white;
    padding: 1rem;
    height: 4rem;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}
  
.align-center {
    align-items: center;
}

.ma {
    margin: 0 auto;
}

.grid {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.p-1 {
    padding: 1rem;
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .nav-bar li {
    float: left;
  }
  
  .nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav-bar li a:hover {
    background-color: #111;
  }
  .block {
    display: block;
  }